/*================================
    ヘッダー
================================*/
header {
	height: 640px;
	width: 1440px;
	margin: 0 auto;
	background-color: rgba(232, 125, 125, 0.5);
	.mainLogo {
	}
	.head-nav {
		ul {
			list-style: none;
			li {
				a {
					text-decoration: none;
				}
			}
		}
	}
}

/*================================
    インフォメーション
================================*/
.info {
	height: 543px;
	width: 1100px;
	margin: 0 auto;
	background-color: hsla(60, 70%, 70%, 0.5);
}
.work {
	height: 876px;
	width: 1100px;
	margin: 0 auto;
	background-color: hsla(120, 70%, 70%, 0.5);
}
.foot-nav {
	height: 570px;
	width: 1440px;
	margin: 0 auto;
	background-color: hsla(180, 70%, 70%, 0.5);
}
footer {
	height: 154px;
	width: 1440px;
	margin: 0 auto;
	background-color: hsla(240, 70%, 70%, 0.5);
}
