* {
	box-sizing: border-box;
}
.wrap {
	overflow: hidden;
}
a:hover {
	opacity: 0.5;
}
/*================================
    ヘッダー
================================*/
header {
	height: 80vh;
	background-image: url(images/mainImage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
		margin: 0 auto;
		max-width: 1100px;

		.header-logo {
			height: 60px;
		}
		.header-nav {
			.header-list {
				display: flex;
				li {
					padding-left: 60px;
					a {
						text-decoration: none;
						color: #000;
						font-size: 18px;
						display: inline-block;
					}
				}
			}
		}
	}

	p {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%);
		text-align: center;
		font-size: 48px;
	}
}

/*================================
    インフォメーション
================================*/
.info {
	height: 543px;
	width: 1100px;
	margin: 0 auto;
	padding: 90px 0;
	.info-title {
		margin-bottom: 60px;
		font-size: 38px;
		text-align: center;
	}

	.info-list {
		max-width: 700px;
		margin: 0 auto;

		li {
			padding: 30px 0;
			border-bottom: 1px solid black;
			a {
				display: block;
				color: black;
				text-decoration: none;
				.date {
					font-size: 18px;
				}
				.border {
					border: 1px solid black;
					display: inline-block;
					padding: 5px 8px;
					margin: 0 30px;
					font-size: 11px;
				}
				.message {
					font-size: 17px;
				}
			}
		}
	}
}

/*================================
    施工事例
================================*/

.work {
	padding: 90px 0;
	height: 876px;
	width: 1100px;
	margin: 0 auto;
	.work-title {
		margin-bottom: 60px;
		font-size: 38px;
		text-align: center;
		margin-bottom: 90px;
	}
	.work-container {
		display: flex;
		justify-content: space-around;
		.work-case {
			text-align: center;
			h3 {
				font-size: 24px;
				margin-top: 30px;
			}
			p {
				font-size: 14px;
				margin-top: 15px;
			}
			.building {
				height: 280px;
				width: 430px;
			}
			.more {
				margin-top: 15px;
				width: 300px;
				height: 47px;
			}
		}
	}
}

.foot-nav {
	height: 570px;
	width: 1440px;
	margin: 0 auto;
	background-color: hsla(180, 70%, 70%, 0.5);
}
footer {
	height: 154px;
	width: 1440px;
	margin: 0 auto;
	background-color: hsla(240, 70%, 70%, 0.5);
}
