@charset "UTF-8";
/*================================
    全体設定
================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  overflow: hidden;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*================================
    ヘッダー
================================*/
header {
  height: 80vh;
  background-image: url(images/mainImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1100px;
}

header .header-container .header-logo {
  height: 60px;
}

header .header-container .header-nav .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .header-nav .header-list li {
  padding-left: 60px;
}

header .header-container .header-nav .header-list li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: inline-block;
}

header p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  font-size: 48px;
}

/*================================
    お知らせ
================================*/
.info {
  height: 543px;
  width: 1100px;
  margin: 0 auto;
  padding: 90px 0;
}

.info .info-title {
  margin-bottom: 60px;
  font-size: 38px;
  text-align: center;
}

.info .info-list {
  max-width: 700px;
  margin: 0 auto;
}

.info .info-list li {
  padding: 30px 0;
  border-bottom: 1px solid black;
}

.info .info-list li a {
  display: block;
  color: black;
  text-decoration: none;
}

.info .info-list li a .date {
  font-size: 18px;
}

.info .info-list li a .border {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 8px;
  margin: 0 30px;
  font-size: 11px;
}

.info .info-list li a .message {
  font-size: 17px;
}

/*================================
    施工事例
================================*/
.work {
  padding: 90px 0;
  height: 876px;
  width: 1100px;
  margin: 0 auto;
}

.work .work-title {
  margin-bottom: 60px;
  font-size: 38px;
  text-align: center;
  margin-bottom: 90px;
}

.work .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work .work-container .work-case {
  text-align: center;
}

.work .work-container .work-case h3 {
  font-size: 24px;
  margin-top: 30px;
}

.work .work-container .work-case p {
  font-size: 14px;
  margin-top: 15px;
}

.work .work-container .work-case .building {
  height: 280px;
  width: 430px;
}

.work .work-container .work-case .more {
  margin-top: 15px;
  width: 300px;
  height: 47px;
}

.work .work-list {
  text-align: center;
}

.work .work-list .work-list-btn {
  margin-top: 80px;
  display: inline-block;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 12px 40px;
  font-size: 20px;
}

/*================================
    リンク
================================*/
.link {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link a {
  width: calc(100% / 3);
}

.link a img {
  width: 100%;
}

/*================================
    フッター
================================*/
footer {
  height: 154px;
  width: 1440px;
  margin: 0 auto;
  background-color: rgba(125, 125, 232, 0.5);
}
/*# sourceMappingURL=style.css.map */